/*css comments look like this*/

.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

body {
  background-color: rgb(246, 232, 214);
  font-family: "Poppins";
}

hr {
  height: 3px;
  border: none;
  background-color: #cac9c9;
}

p {
  font-size: 0.8em;
}

#content {
  width: 60%;
  margin: auto;
  font-size: 1.5em;
  padding-bottom: 15px;
}

#title {
  font-family: "Poppins";
  text-align: left;
}

#title h1 {
  font-size: 3em;
}

#title h2 {
  font-weight: 400;
}

#nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(102, 60, 0);
  position: sticky;
  top: 0;
}

.img_container {
  width: 100%;
  background-color: rgb(241, 217, 186);
}

img{
  margin: auto;
  display: block;
}

.source {
  font-size: 0.5em;
  padding-top: 5px;
  padding-left: 2px;
}
.nav-item {
  margin: auto;
  padding: 10px;
  background-color: rgb(102, 60, 0);
  font-family: "Poppins"
}

.nav-item a {
  color: white;
  text-decoration: none
}

#contact {
  border: 1px solid black;
  padding: 10px;
  font-style: italic;
  text-align: center;
}

.flourish-embed {
  width: 85%;
  margin: auto;
}

#byline {
  font-size: 0.7em;
  font-weight: 500;
  color: gray;
}

@media (orientation: portrait) {
  #content {
    width: 100%;
  }
}

@media (orientation: portrait) {
  #nav-bar {
    width: 100%;
  }
}

html {
  scroll-behavior: smooth;
}